################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Axis.POC/.vs
/Axis.POC/bin/Debug/net8.0
/Axis.POC/obj
