################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Axis.POC/.vs
/Axis.POC/bin/Debug/net8.0
/Axis.POC/obj
/Axis.POC/wwwroot/camera
/Axis.POC/wwwroot/UI
/Axis.POC/bin/Release/net8.0
/Axis.POC/Properties/PublishProfiles
/Axis.POC/Axis.POC.csproj.user
